nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  cursor: pointer;
}

.active {
  font-weight: bold;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.overview, .taiwan-map, .tips {
  flex-basis: 30%;
}
